@charset "UTF-8";
/*ヘッダー*/
.header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
}
.title{
	    grid-column-start: 3;
	    font-size: 3.5svh;
}

.name{
	    grid-column-start: 5;
}

/*ログイン画面*/
.login {
	font-family: "Segoe UI", "Helvetica Neue", "Arial", sans-serif;

	text-align: center;
	background: linear-gradient(110deg, #00ffff, #9999ff);

}

#loginBox {
	background-color: white;
	width: 210px;
	height: 220px;
	margin: 0 auto;
	padding: 10px;
	border-radius: 7px;
}

#loginTitle {
	font-size: 30px;
	font-weight: bold;
	margin-top: 0.5vh;
}



#loginID {
	margin: 1vh;
	border-radius: 7px;
	height: 20px;
	border: solid 2px lightgray;
}

#loginPw {
	margin: 0.1vh;
	border-radius: 7px;
	height: 20px;
	border: solid 2px lightgray;
}

#loginBtn {
	background-color: #4a90e2;
	color: white;
	width: 180px;
	height: 25px;
	border-radius: 7px;
	border-radius: 7px;
	border: none;


}

.errorMes{
color : red;
}

/*タイマー画面*/
.timerBox {
	font-family: BIZ UDP;

	text-align: center;
	

}
.startBtn{
	margin-top: 1vh;
}

.timer{
		margin-top: 2vh;
}