@charset "UTF-8";

/* ヘッダー */
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: cadetblue;
	height: 60px;
	padding: 0 20px;
}

.title {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 24px;
	font-weight: bold;
	color: white;
	z-index: 2; /* タイトルを前面に */
}

.accordion-005 {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	max-width: 150px;
	z-index: 1; /* タイトルの後ろに */
}

.accordion-005 summary {
	border-left: 5px solid #2589d0;
	background-color: #f2f2f2;
	color: #333333;
	font-weight: 600;
	cursor: pointer;
	list-style: none;
	padding: 5px;
}

.accordion-005 summary::-webkit-details-marker {
	display: none;
}

.accordion-005 p {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #ffffff;
	border: 1px solid #ccc;
	padding: 5px;
	opacity: 0;
	transform: translateY(-10px);
	transition: transform .3s, opacity .3s;
	white-space: nowrap;
	z-index: 3;
		cursor: pointer;
}

.accordion-005[open] p {
	opacity: 1;
	transform: translateY(0);
}


/* 以下は元々書いてあったタイマー関連のCSS部分 */
/* ログイン画面 */
.login {
	font-family: "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
	text-align: center;
	background: linear-gradient(110deg, #00ffff, #9999ff);
}

#loginBox {
	background-color: white;
	width: 210px;
	height: 220px;
	margin: 0 auto;
	padding: 10px;
	border-radius: 7px;
}

#loginTitle {
	font-size: 30px;
	font-weight: bold;
	margin-top: 0.5vh;
}

#loginID {
	margin: 1vh;
	border-radius: 7px;
	height: 20px;
	border: solid 2px lightgray;
}

#loginPw {
	margin: 0.1vh;
	border-radius: 7px;
	height: 20px;
	border: solid 2px lightgray;
}

#loginBtn {
	background-color: #4a90e2;
	color: white;
	width: 180px;
	height: 25px;
	border-radius: 7px;
	border: none;
}

.errorMes {
	color: red;
}

/* タイマー画面 */
.timer {
	margin-top: 5vh;
}

.timerBox {
	font-family: BIZ UDP;
	text-align: center;
	background-color: gray;
}

.startBtn {
	margin-top: 1vh;
}

.timer {
	margin-top: 2vh;
}